<% posts = [{
  title: 'This is a test!',
  date: 'May 22, 2014',
  bounty: 400,
  task: 'This is just a test guys. For real though? We need more eyebrows!',
  poster: 'Alex Sears',
  location: {city: 'Cincinnati', state: 'OH', zip: '45243'},
  skills: ['Car', 'Drums', 'Drinking']
  }]; %>
<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Dashboard</title>

  <link rel="stylesheet" href="css/bootstrap.min.css" />
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" />
  <link rel="stylesheet" href="css/styles.css" type="text/css" />
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-lg-2">
        <header>
          <div id="logo">
            <img src="images/logo.png" alt="Divvy Logo">
          </div>
        </header><!-- header -->

        <div class="user-forms">
          <button id="sign-up-toggle" class="btn btn-primary">SIGN UP</button>
          <button id="sign-in-toggle" class="btn btn-primary">LOG IN</button>
        </div>

        <div id="sign-up" style="display:none;">
          <form action="/signup" method="POST">
            <input type="text" name="username" placeholder="Username" />
            <input type="text" name="email" placeholder="Email" />
            <input type="password" name="password" placeholder="Password" />
            <input type="password" name="password_confirmation" placeholder="Confirm Password" />
            <input type="submit" value="GO" />
          </form>
        </div>

        <div id="sign-in" style="display:none;">
          <form>
            <input type="text" name="name" placeholder="Name" />
            <input type="password" name="password" placeholder="Password" />
            <input type="submit" value="GO" />
          </form>
        </div>

        <div id="user-info">
          <p>JUSTIN BOH</p>
          <a class="btn btn-primary">MY POSTS</a> <a class="btn btn-primary"><i class="fa fa-pencil fa-lg"></i></a> <a class="btn btn-primary"><i class="fa fa-arrow-circle-o-right fa-lg"></i></a>
        </div>
      </div><!-- end col-lg-2 -->

      <div class="col-lg-8 feed">
        <nav>
          <div class="searchform">
            <div id="mainsearch">
              <input type="text" name="searchbar" placeholder="Search" />
              <i class="fa fa-search fa-lg"></i>
              <a class="btn btn-primary" id="new-post-toggle"><i class="fa fa-plus fa-lg"></i></a>
            </div>
          </div>
        </nav>

        <div id="new-post" style="display:none;">
          <form>
            <input type="text" name="title" placeholder="SKILL" />
            <input type="text" name="points" placeholder="POINTS" />
            <textarea name="description" placeholder="DESCRIPTION"></textarea>
            <input type="text" name="location" placeholder="LOCATION" />
            <input type="submit" value="ADD">
          </form>
        </div>

        <div class="filter-group">
          <a class="btn selected">LOCAL</a>
          <a class="btn">RELEVANT</a>
          <a class="btn">ABC</a>
        </div>

        <% for (var i = 0; i < posts.length; i++) { %>
        <div class="post">
          <div class="row">
            <div class="col-lg-2">
              <img class="avatar" src="http://placehold.it/100x100" />
            </div>
            <div class="col-lg-6">
              <h1><%= posts[i].title %> <span class="date"><%= posts[i].date %></span></h1>
              <p class="task">"<%= posts[i].task %>"</p>
              <p class="poster">Submitted by: <span><%= posts[i].poster %></span></p>
            </div>
            <div class="col-lg-4 bounty">
              <p><%= posts[i].bounty %></p>
              <p>Points</p>
            </div><!-- end bounty -->
          </div><!-- end row -->
        </div><!-- end post -->
        <% } %>

      </div><!-- end feed -->
    </div><!-- end row -->
  </div><!-- end container -->

  <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
  <script type="text/javascript" src="js/main.js"></script>
</body>
</html>