<%
var monthNames = [ "January", "February", "March", "April", "May", "June",
    "July", "August", "September", "October", "November", "December" ];
var weekday = new Array(7);
weekday[0]=  "Sunday";
weekday[1] = "Monday";
weekday[2] = "Tuesday";
weekday[3] = "Wednesday";
weekday[4] = "Thursday";
weekday[5] = "Friday";
weekday[6] = "Saturday";
%>
<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Dashboard</title>

  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" />
  <link rel="stylesheet" href="/css/styles.css" type="text/css" />
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-lg-2">
        <header>
          <div id="logo">
            <a href="/"><img src="images/logo.png" alt="Divvy Logo"></a>
          </div>
        </header><!-- header -->

        <% if (user) { %>
        <div id="user-info">
          <p><%- (user.name) ? user.name : user.username %></p>
	  <img class="avatar" src="/images/unknown.png" style="width: 64px; height: 64px; border-radius: 10px; margin-bottom: 10px;" />
          <a class="btn btn-primary">MY POSTS</a> <a class="btn btn-primary" href="/me"><i class="fa fa-pencil fa-lg"></i></a> <a class="btn btn-primary" href="/logout"><i class="fa fa-arrow-circle-o-right fa-lg"></i></a>
        </div>

        <% } else { %>
        <div class="user-forms">
          <button id="sign-up-toggle" class="btn btn-primary">SIGN UP</button>
          <button id="sign-in-toggle" class="btn btn-primary">LOG IN</button>
        </div>

        <div id="sign-up" style="display:none;">
          <form action="/signup" method="POST">
            <input type="text" name="username" placeholder="Username" />
            <input type="text" name="email" placeholder="Email" />
            <input type="password" name="password" placeholder="Password" />
            <input type="password" name="password_confirmation" placeholder="Confirm Password" />
            <input type="submit" value="GO" />
          </form>
        </div>

        <div id="sign-in" style="display:none;">
          <form action="/login" method="POST">
            <input type="text" name="username" placeholder="Username" />
            <input type="password" name="password" placeholder="Password" />
            <input type="submit" value="GO" />
          </form>
        </div>

        <% } %>
      </div><!-- end col-lg-2 -->

      <div class="col-lg-8 feed">
        <nav>
          <div class="searchform">
            <div id="mainsearch">
              <input type="text" name="searchbar" placeholder="Search" />
              <i class="fa fa-search fa-lg"></i>
              <a class="btn btn-primary" id="new-post-toggle"><i class="fa fa-plus fa-lg"></i></a>
            </div>
          </div>
        </nav>

        <div id="new-post" style="display:none;">
          <form id="postform">
            <input id="postTitle" type="text" name="title" placeholder="TITLE" />
            <select id="postSkills" class="multiselect" type="text" name="skills" placeholder="SKILL" multiple></select>
            <input id="postPoints" type="text" name="points" placeholder="POINTS" />
            <textarea id="postTask" name="description" placeholder="DESCRIPTION"></textarea>
            <input id="new-post-submit" type="button" value="ADD">
          </form>
        </div>

        <div class="filter-group">
          <a class="btn selected" data-q="suggested">SUGGESTED</a>
          <a class="btn" data-q="trending" id="trending-button">TRENDING</a>
        </div>

        <div id="posts">
        <% if(posts) { for (var i = 0; i < posts.length; i++) { %>
        <div class="post">
          <div class="row">
            <div class="col-lg-2">
              <img class="avatar" src="/images/unknown.png" style="width: 100px; height: 100px;" />
            </div>
	    <a href="/listing/<%- posts[i]._id %>">
            <div class="col-lg-6">
              <h1><%= posts[i].title %><br /><span class="date"><%= weekday[posts[i].date.getDay()] + " " + monthNames[posts[i].date.getMonth()] + " " + posts[i].date.getDate() + ", " + posts[i].date.getFullYear() %></span></h1>
              <p class="task">"<%= posts[i].task %>"</p>
              <p class="poster">Submitted by: <span><%= posts[i]._poster %></span></p>
            </div>
            <div class="col-lg-4 bounty">
              <p><%= posts[i].bounty %></p>
              <p>Points</p>
              <p><button id="join-button" class="btn">JOIN</button>
            </div><!-- end bounty -->
	    </a>
          </div><!-- end row -->
        </div><!-- end post -->
        <% } }%>
        </div>

      </div><!-- end feed -->
    </div><!-- end row -->
  </div><!-- end container -->
  <footer>
    <img src="/images/nessie.png" />
  </footer>

  <% if(user) { %>
  <script>var user = JSON.parse(<%= user.passwordHash = "" %>'<%- JSON.stringify(user) %>');</script>
  <% } %>
  <script>
    var user_skills = [];
    var user_interests = [];
  </script>
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="/js/bootstrap.min.js" type="text/javascript"></script>
  <script src="/js/bootstrap-multiselect.js" type="text/javascript"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script type="text/javascript" src="/js/main.js"></script>
  <script type="text/javascript" src="/js/account.js"></script>
  <script>
    $(document).ready(function() {
      $('.multiselect').multiselect();
    });
  </script>
  <script>
    $('#join-button').click(function() {
      var that = $(this),
          bounty = that.parent().parent().children(':first').text(),
          title = that.parent().parent().prev().children(':first').text(),
          task = that.parent().parent().prev().children('.task').text(),
          link = '',
          ifCollected = false,
          skills = 'none';

      // 'subscribe' user to post
      var data = {
        link: link,
        ifCollected: ifCollected,
        task: task,
        title: title,
        bounty: bounty,
        skills: skills
      };

      console.log(data);

      $.post('/update_post', data, function(data) {
        console.log(data);
      });
    });
  </script>
</body>
</html>
