<%
var monthNames = [ "January", "February", "March", "April", "May", "June",
    "July", "August", "September", "October", "November", "December" ];
var weekday = new Array(7);
weekday[0]=  "Sunday";
weekday[1] = "Monday";
weekday[2] = "Tuesday";
weekday[3] = "Wednesday";
weekday[4] = "Thursday";
weekday[5] = "Friday";
weekday[6] = "Saturday";
%>
<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title><%= profile.username %> on Divvy</title>

  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" />
  <link rel="stylesheet" href="/css/styles.css" type="text/css" />
</head>
<body>
    <div class="container">
    <div class="row">
      <div class="col-lg-2">
        <header>
          <div id="logo">
            <a href="/"><img src="/images/logo.png" alt="Divvy Logo"></a>
          </div>
        </header><!-- header -->
        <% if (user) { %>
        <div id="user-info">
          <p><%- (user.name) ? user.name : user.username %></p>
          <img class="avatar" src="/images/unknown.png" style="width: 64px; height: 64px; border-radius: 10px; margin-bottom: 10px;" />
          <a class="btn btn-primary">MY POSTS</a> <a class="btn btn-primary" href="/me"><i class="fa fa-pencil fa-lg"></i></a> <a class="btn btn-primary" href="/logout"><i class="fa fa-arrow-circle-o-right fa-lg"></i></a>
        </div>

        <% } else { %>
        <div class="user-forms">
          <button id="sign-up-toggle" class="btn btn-primary">SIGN UP</button>
          <button id="sign-in-toggle" class="btn btn-primary">LOG IN</button>
        </div>
        <% } %>
      </div><!-- end col-lg-2 -->

      <div class="col-lg-8">

        <div class="post">
          <div class="row">
            <div class="col-lg-8">
              <h1><%= profile.name %></h1>
              <h3 class="task">"<%= profile.username%>"<h3>
	      <h4>Contact me! <%= profile.email %></h4>
			<br /><br />
            </div>
            <div class="col-lg-2">
              <img class="avatar" src="/images/unknown.png" style="width: 100px; height: 100px;" />
            </div>
	    <div class="col-lg-12">
		<h1>Posts:</h1>
		<table class="profile-posts table table-striped">
			<% for(var i = 0; i < posts.length; i++) { %>
			<tr><td><a href="/listing/<%- posts[i]._id %>"><div>
        <h3><%= posts[i].title %></h3>
              <span class="task">"<%= posts[i].task %>"</span><br />
                  <span class="date"><%= weekday[posts[i].date.getDay()] + " " + monthNames[posts[i].date.getMonth()] + " " + posts[i].date.getDate() + ", " + posts[i].date.getFullYear() %></span>
		</div></a></td></tr>
<%}%>
		</table>
	    </div>
            <div class = "row">
	    </div>
          </div><!-- end row -->
        </div><!-- end post -->

      </div>

    </div><!-- end row -->
  </div><!-- end container -->

  <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
</body>
</html>
